.background-ring-container-right {
    position: fixed;
    top: 14%;
    left: 52%;
    width: 69vw;
    img {
        width: 100%;
    }
}

.background-ring-container-left {
    position: fixed;
    top: 14%;
    left: 52%;
    width: 69vw;
    img {
        width: 100%;
    }
}